flows.json
[{"id":"f331829f.3c61f","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c9e44132.293d6","type":"template","z":"f331829f.3c61f","name":"Main UI","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n        <style>\n            \n*{\n    text-align: center;\n    margin: 0 auto;\n}\n\nbody{\n    overflow-y: hidden;\n    background-color: #BCC6CC;\n}\n\nheader{\n    height: 70px;\n    padding: 18px;\n    border-radius: 3em 3em 0em 0em;\n    display: inline-block;\n    background-color: #6960EC;\n    margin-top: 1%;\n}\nfooter{\n    height: 5%;\n    padding: 2%;\n    border-radius:1em;\n    width: 80%;\n    display: inline-block;\n    background-color: #E5E4E2;\n    margin: 0.5% auto;\n}\n\n.header{\n    height: 100%;\n    width: 60%;\n    float: left;\n}\n\n.chatbox{\n    background-color: #6960EC;\n    width: 90%;\n    margin: 2% 4% 0% 4%;\n    height: 620px;\n    border: 1px solid black;\n    border-radius: 3em 3em 1em 1em;\n    box-shadow: 10px -5px 10px 5px #888888;\n}\n\n.messagebox{\n    background-color: #E5E4E2;\n    height: 400px;\n    overflow-y: scroll;\n    overflow-x: hidden;\n}\n.bot-reply,.user-query{\n    display: block;\n    font-size: 28px;\n    margin: 1%;\n    padding: 1% 2%;\n    word-wrap: break-word;\n}\n.bot-reply{\n    text-align: left;\n    float: left;\n    margin-left: 1%;\n    margin-right: 40%;\n    background-color: rgb(162, 156, 252);\n    border: 1px solid black;\n\tborder-radius: 0em 1em 1em 1em;\n}\n\n.user-query{\n    float: right;\n    text-align: left;\n    margin-right: 1%;\n    margin-left: 40%;\n    background-color: rgb(255, 241, 137);\n    border: 1px solid black;\n\tborder-radius: 1em 0em 1em 1em;\n}\n\n.inimg{\n\tdisplay: block;\n\theight: 50%;\n\twidth: 80%;\n}\n\n.query{\n    float: left;\n    width: 60%;\n    height: 150%;\n    border-radius: 3em;\n    font-size: 35px;\n}\n\n.butn{\n    color: #f8f8f8;\n    font-size: 35px;\n    font-family: Helvetica;\n    background-color: #6960EC;\n    height: 150%;\n    float: right;\n    width: 20%;\n    border-radius: 3em;\n    padding-bottom: 1%;\n}\n\n.butn:hover{\n    \n    animation: btn;\n    animation-duration: 1s;\n    animation-iteration-count: 1;\n    animation-fill-mode: forwards;\n}\n\n@keyframes btn {\n    from {box-shadow: 0px 0px tomato;}\n    to {box-shadow: 0px 0px 10px 5px #fff200; background-color: #f8f396; color:  #6960ec;}\n  }\n\n.butn:focus,.query:focus{\n    outline: none;\n}\n/* width */\n::-webkit-scrollbar {\n    width: 10px;\n  }\n  \n  /* Track */\n  ::-webkit-scrollbar-track {\n    background: #f1f1f1; \n  }\n   \n  /* Handle */\n  ::-webkit-scrollbar-thumb {\n    background: #888; \n  }\n  \n  /* Handle on hover */\n  ::-webkit-scrollbar-thumb:hover {\n    background: #555; \n  }\n\n  @media screen and (max-width: 800px) {\n    header{\n        height: 50px;\n        padding: 18px;\n        border-radius: 3em 3em 0em 0em;\n        display: inline-block;\n        background-color: #6960EC;\n        margin-top: 1%;\n    }\n    footer{\n        height: 5%;\n        padding: 18px;\n        border-radius:1em;\n        width: 80%;\n        display: inline-block;\n        background-color: #E5E4E2;\n        margin: 2%;\n    }\n    \n    .chatbox{\n        background-color: #6960EC;\n        width: 90%;\n        margin: 2% 4% 0% 4%;\n        height: 520px;\n        border: 1px solid black;\n        border-radius: 3em 3em 1em 1em;\n        box-shadow: 10px -5px 10px 5px #888888;\n    }\n    \n    .messagebox{\n        background-color: #E5E4E2;\n        height: 350px;\n        overflow-y: scroll;\n        overflow-x: hidden;\n    }\n    .user-query,.bot-reply{\n        font-size: 12px;\n    }\n    .query{\n        font-size: 12px;\n    }\n    .butn{\n        font-size: 16px;\n    }\n  }\n        </style>\n    </head>\n    <body>\n        <div class=\"content\">\n\n        </div>\n        <div class=\"chatbox\">\n            <header>\n                <img src=\"https://github.com/AbhishekSoni98/Images/raw/master/Header3.png\" class=\"header\">\n            </header>\n            <div class=\"messagebox\" id='messagebox'>\n                <div class=\"bot-reply\">\n                    Hello There! Welcome to Strnger98's ChatBot. This ChatBot is intended to Query about LG's \n\t\t\t\t\tSmartwatch Urbane W150.\n\t\t\t\t\t<img src=\"https://github.com/AbhishekSoni98/Images/raw/master/watch.jpg\" class=\"inimg\">\n                </div>\n            </div>\n            <footer>\n                <input class=\"query\" id=\"qry\" placeholder=\"Type your Question here\" type=\"text\" />\n                <button class=\"butn\" id=\"butn\" type=\"submit\" onclick=\"sendmsg();\" >Ask!</button>\n            </footer>\n        </div>\n\n    </body>\n    <script>\n        var wsUri = \"wss://{{req.headers.host}}/ws/chat\";\n        var ws = new WebSocket(wsUri);\n        function sendmsg()\n        {\n            x = document.getElementById(\"qry\").value;\n            if (x===\"\")\n            {\n                alert(\"Please Enter your Question First!\");\n            }\n            else\n            {\n                document.getElementById(\"qry\").value=\"\";\n                console.log(x);\n                var nd = document.createElement('div');\n                nd.className = \"user-query\";\n                nd.innerHTML = x;\n                document.getElementById('messagebox').appendChild(nd);\n                var element = document.getElementById(\"messagebox\");\n                element.scrollTop = element.scrollHeight;\n                ws.send(x);\n            }\n            ws.onmessage = function(ev){\n                var payload = ev.data;\n                console.log(payload);\n                var nd = document.createElement('div');\n                nd.className = \"bot-reply\";\n                nd.innerHTML = payload;\n                document.getElementById('messagebox').appendChild(nd);\n                var element = document.getElementById(\"messagebox\");\n                element.scrollTop = element.scrollHeight;\n            }\n\n        }\n\t\tvar input = document.getElementById(\"qry\");\n\n// Execute a function when the user releases a key on the keyboard\ninput.addEventListener(\"keyup\", function(event) {\n  // Number 13 is the \"Enter\" key on the keyboard\n  if (event.keyCode === 13) {\n    // Cancel the default action, if needed\n    event.preventDefault();\n    // Trigger the button element with a click\n    document.getElementById(\"butn\").click();\n  }\n});\n    </script>\n\n</html>","output":"str","x":380,"y":440,"wires":[["70550d55.01fd64"]]},{"id":"913a732.78bb69","type":"websocket in","z":"f331829f.3c61f","name":"","server":"e094ceae.a9924","client":"","x":130,"y":160,"wires":[["bbb0cb23.d10148","c36f4cf0.1cb03"]]},{"id":"bbb0cb23.d10148","type":"function","z":"f331829f.3c61f","name":"","func":"return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":60,"wires":[["25c7b475.7713dc"]]},{"id":"30045040.a100d","type":"websocket out","z":"f331829f.3c61f","name":"","server":"e094ceae.a9924","client":"","x":730,"y":160,"wires":[]},{"id":"113c75fc.76b76a","type":"http in","z":"f331829f.3c61f","name":"","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":160,"y":420,"wires":[["c9e44132.293d6"]]},{"id":"70550d55.01fd64","type":"http response","z":"f331829f.3c61f","name":"","statusCode":"","headers":{},"x":610,"y":420,"wires":[]},{"id":"c36f4cf0.1cb03","type":"debug","z":"f331829f.3c61f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":280,"wires":[]},{"id":"99ea9d7.295326","type":"inject","z":"f331829f.3c61f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":280,"wires":[["c36f4cf0.1cb03"]]},{"id":"25c7b475.7713dc","type":"watson-conversation-v1","z":"f331829f.3c61f","name":"ICDH","workspaceid":"86a4e88d-5b11-4fc4-958f-84cf3628a1cd","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/59f330fa-e72f-492d-9a80-447b347180bd","timeout":"","optout-learning":false,"x":450,"y":160,"wires":[["a301d7d3.888378"]]},{"id":"a301d7d3.888378","type":"function","z":"f331829f.3c61f","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":60,"wires":[["30045040.a100d"]]},{"id":"e094ceae.a9924","type":"websocket-listener","z":"","path":"/ws/chat","wholemsg":"false"}]